.inf
{
  grid-area: inf;
}
.about, .personal, .whoFind, .interes, .meet 
{
font-size: 15px;
}
h1
{
font-size: 20px;
}
.Polya
{
  margin-top: 10%;
  text-align: left;
  margin-left: 10%;
}
.name
{
  font-size: 32px;
}
.name, .GenderAge, .CountryCity, .about, .whoFind, .interes, .meet
{
  display: inline;
}